:host nb-layout-header a {
  font-size: 2rem;
  text-decoration: none;
}
:host nb-layout-column {
  height: 50vw;
}
:host nb-layout-column:first-child {
  background: #f4f4f7;
}

:host nb-tab {
  padding: 1.25rem;
}

/*********User list*************/

.user-list{
  padding-bottom: inherit;
} 


/**********Chat ************/
::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;
}
nb-chat {
  width: 500px;
}

.chat-column {
  background-color: #a1a1e5
}